node-red-flow-pipeline-station1-4-steps-16-10-2021.json
[{"id":"d539b275.7e58b","type":"json","z":"341b4977.212ad6","name":"","property":"payload","action":"obj","pretty":false,"x":130,"y":80,"wires":[["4ca9f730.fc2468","af6a4df2.3ce3e"]]},{"id":"cfb84c40.f9706","type":"mqtt in","z":"341b4977.212ad6","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"451e1d09.333fa4","x":240,"y":20,"wires":[["d539b275.7e58b","1b35b604.4d54ca"]]},{"id":"1b35b604.4d54ca","type":"debug","z":"341b4977.212ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":20,"wires":[]},{"id":"4ca9f730.fc2468","type":"debug","z":"341b4977.212ad6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":80,"wires":[]},{"id":"af6a4df2.3ce3e","type":"function","z":"341b4977.212ad6","name":"data","func":"//var datastring = msg.payload.object\nvar datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":140,"wires":[["9afa21cd.ba27f"]]},{"id":"dc7d807f.a0196","type":"debug","z":"341b4977.212ad6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":100,"wires":[]},{"id":"9afa21cd.ba27f","type":"function","z":"341b4977.212ad6","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["dc7d807f.a0196","8cd8b7a1.eb0628","b7540b82.190158","be2bb373.2b6b2"]]},{"id":"57d2ecac.8e69f4","type":"debug","z":"341b4977.212ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":260,"wires":[]},{"id":"feee5943.ab1d98","type":"debug","z":"341b4977.212ad6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":320,"wires":[]},{"id":"2eb909b2.4eaf76","type":"inject","z":"341b4977.212ad6","name":"","topic":"","payload":"bon dia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["a22e5ce5.509a"]]},{"id":"a22e5ce5.509a","type":"serial out","z":"341b4977.212ad6","name":"","serial":"2eaf522c.663d3e","x":300,"y":560,"wires":[]},{"id":"8cd8b7a1.eb0628","type":"base64","z":"341b4977.212ad6","name":"","action":"b64","property":"payload","x":120,"y":260,"wires":[["57d2ecac.8e69f4","d93b305b.14174"]]},{"id":"d93b305b.14174","type":"json","z":"341b4977.212ad6","name":"","property":"payload","action":"","pretty":false,"x":170,"y":320,"wires":[["feee5943.ab1d98","8bd3acc0.4ecbc"]]},{"id":"de0b2b63.d75d88","type":"exec","z":"341b4977.212ad6","command":"vcgencmd measure_temp","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU temp","x":310,"y":620,"wires":[["8284fbf0.58de68","1b7c0b5a.dcdbf5","26b95cc.e4cfda4"],[],[]]},{"id":"406df7b6.6c58b8","type":"inject","z":"341b4977.212ad6","name":"","topic":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["de0b2b63.d75d88"]]},{"id":"35048757.8f24b8","type":"debug","z":"341b4977.212ad6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":640,"wires":[]},{"id":"8284fbf0.58de68","type":"function","z":"341b4977.212ad6","name":"","func":"const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":640,"wires":[["35048757.8f24b8","44f4f3ba.d3aaec"]]},{"id":"1b7c0b5a.dcdbf5","type":"debug","z":"341b4977.212ad6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":600,"wires":[]},{"id":"44f4f3ba.d3aaec","type":"change","z":"341b4977.212ad6","name":"","rules":[{"t":"set","p":"cpu_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":680,"wires":[[]]},{"id":"35995056.a4aab","type":"change","z":"341b4977.212ad6","name":"add DL1 and timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload.t2","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.DL1","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["7f6a60dd.74153","a22e5ce5.509a","4d9d3383.540dec"]]},{"id":"7f6a60dd.74153","type":"debug","z":"341b4977.212ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":340,"wires":[]},{"id":"8bd3acc0.4ecbc","type":"function","z":"341b4977.212ad6","name":"CPU_temp","func":"msg.topic = flow.get('cpu_temp')\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["35995056.a4aab"]]},{"id":"de21cf5e.bf555","type":"inject","z":"341b4977.212ad6","name":"Only on startup","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":780,"wires":[["fe6aa4b7.ac1618"]]},{"id":"fe6aa4b7.ac1618","type":"change","z":"341b4977.212ad6","name":"station 2 is shut down","rules":[{"t":"set","p":"station_2_is_shut_down","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":780,"wires":[[]]},{"id":"ec90a8cf.90d918","type":"inject","z":"341b4977.212ad6","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["dea948ba.a8f688"]]},{"id":"dea948ba.a8f688","type":"function","z":"341b4977.212ad6","name":"station_2_is_shut_down","func":"var station_2_is_shut_down =flow.get('station_2_is_shut_down')\nif( station_2_is_shut_down )\n{\n    return {payload:{\n    }}\n}\nelse\n{}","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["7da5f131.8663e"]]},{"id":"7f91d364.0070ec","type":"change","z":"341b4977.212ad6","name":"add DL1 and timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload.DL1","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["32926c1b.8b6284","a22e5ce5.509a","4d9d3383.540dec"]]},{"id":"7da5f131.8663e","type":"function","z":"341b4977.212ad6","name":"CPU_temp","func":"msg.topic = flow.get('cpu_temp')\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["7f91d364.0070ec"]]},{"id":"32926c1b.8b6284","type":"debug","z":"341b4977.212ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":480,"wires":[]},{"id":"b7540b82.190158","type":"change","z":"341b4977.212ad6","name":"station 2 is alive","rules":[{"t":"set","p":"station_2_is_shut_down","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":140,"wires":[[]]},{"id":"4d343275.44de1c","type":"debug","z":"341b4977.212ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":180,"wires":[]},{"id":"4eaa5aaa.6f9cb4","type":"inject","z":"341b4977.212ad6","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":160,"wires":[["4d343275.44de1c","b7540b82.190158"]]},{"id":"26b95cc.e4cfda4","type":"function","z":"341b4977.212ad6","name":"show station 2 status","func":"msg.payload=flow.get('station_2_is_shut_down')\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":720,"wires":[["fe81b688.004628"]]},{"id":"fe81b688.004628","type":"debug","z":"341b4977.212ad6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":720,"wires":[]},{"id":"be2bb373.2b6b2","type":"mytimeout","z":"341b4977.212ad6","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"0","timer":"40","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":530,"y":200,"wires":[["71433b6d.065934"],[]]},{"id":"71433b6d.065934","type":"change","z":"341b4977.212ad6","name":"station 2 is dead","rules":[{"t":"set","p":"station_2_is_shut_down","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[[]]},{"id":"2ebb9764.dddd28","type":"serial in","z":"341b4977.212ad6","name":"","serial":"2eaf522c.663d3e","x":140,"y":880,"wires":[["8147d9e4.e8ee58"]]},{"id":"8147d9e4.e8ee58","type":"debug","z":"341b4977.212ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":880,"wires":[]},{"id":"4d9d3383.540dec","type":"influxdb out","z":"341b4977.212ad6","influxdb":"f0350ed0.b4de5","name":"","measurement":"station_1","precision":"","retentionPolicy":"","database":"STATION_1","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1020,"y":560,"wires":[]},{"id":"451e1d09.333fa4","type":"mqtt-broker","z":"341b4977.212ad6","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eaf522c.663d3e","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f0350ed0.b4de5","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":true}]