node-red-flow-pipeline-station2-4-steps-17-10-2021.json
[{"id":"d9714c96.31b65","type":"json","z":"52712e56b519916c","name":"","property":"payload","action":"obj","pretty":false,"x":150,"y":120,"wires":[["5816e673.a64828","1161615a.ec44af"]]},{"id":"995420d4.37de7","type":"mqtt in","z":"52712e56b519916c","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"48093d14.5ff7e4","nl":false,"rap":false,"x":260,"y":60,"wires":[["d9714c96.31b65","24baeba8.0b2844"]]},{"id":"24baeba8.0b2844","type":"debug","z":"52712e56b519916c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":60,"wires":[]},{"id":"5816e673.a64828","type":"debug","z":"52712e56b519916c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":120,"wires":[]},{"id":"1161615a.ec44af","type":"function","z":"52712e56b519916c","name":"data","func":"var datastring = msg.payload.object\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":180,"wires":[["b2f952f2.26857"]]},{"id":"7b3c7851.9df0b8","type":"debug","z":"52712e56b519916c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"b2f952f2.26857","type":"function","z":"52712e56b519916c","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["7b3c7851.9df0b8","bc60e489.fcbc08","b7540b82.190158","344dad5ecff86a77"]]},{"id":"bc60e489.fcbc08","type":"function","z":"52712e56b519916c","name":"data","func":"msg.payload = msg.payload.Distance\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["5f88209f.de68f","f8d7add2.ebec7"]]},{"id":"5f88209f.de68f","type":"debug","z":"52712e56b519916c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":300,"wires":[]},{"id":"f8d7add2.ebec7","type":"function","z":"52712e56b519916c","name":"JSON","func":"var distance = msg.payload;\nvar t=Math.floor(Date.now() / 1000);\nvar cpu_temp= flow.get('cpu_temp')\nreturn {payload:{DL3:distance,t3:t,DL2:cpu_temp\n\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":360,"wires":[["27d86516.b37bba","377ce918.24c936"]]},{"id":"27d86516.b37bba","type":"debug","z":"52712e56b519916c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":360,"wires":[]},{"id":"3a67f821.5bb5e8","type":"inject","z":"52712e56b519916c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bon dia","payloadType":"str","x":110,"y":540,"wires":[["377ce918.24c936"]]},{"id":"377ce918.24c936","type":"serial out","z":"52712e56b519916c","name":"","serial":"2eaf522c.663d3e","x":340,"y":540,"wires":[]},{"id":"3c6fb8af20b3d333","type":"exec","z":"52712e56b519916c","command":"vcgencmd measure_temp","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"CPU temp","x":290,"y":620,"wires":[["3ae35395dbaacc89","6153b2f536640d6e","26b95cc.e4cfda4"],[],[]]},{"id":"0e27ea70f242304d","type":"inject","z":"52712e56b519916c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":620,"wires":[["3c6fb8af20b3d333"]]},{"id":"a978524604cdd10a","type":"debug","z":"52712e56b519916c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":640,"wires":[]},{"id":"3ae35395dbaacc89","type":"function","z":"52712e56b519916c","name":"","func":"const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":640,"wires":[["a978524604cdd10a","c8f8405526921321"]]},{"id":"6153b2f536640d6e","type":"debug","z":"52712e56b519916c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":600,"wires":[]},{"id":"c8f8405526921321","type":"change","z":"52712e56b519916c","name":"","rules":[{"t":"set","p":"cpu_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":680,"wires":[[]]},{"id":"af392ce51562294f","type":"inject","z":"52712e56b519916c","name":"Only on start up","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":840,"wires":[["f98f7ae8f53aa7c9"]]},{"id":"f98f7ae8f53aa7c9","type":"change","z":"52712e56b519916c","name":"","rules":[{"t":"set","p":"station_3_is_shut_down","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":840,"wires":[[]]},{"id":"ec90a8cf.90d918","type":"inject","z":"52712e56b519916c","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["dea948ba.a8f688"]]},{"id":"dea948ba.a8f688","type":"function","z":"52712e56b519916c","name":"station_3_is_shut_down","func":"var station_3_is_shut_down =flow.get('station_3_is_shut_down')\nif( station_3_is_shut_down )\n{\n    return {payload:{\n    }}\n}\nelse\n{}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["7da5f131.8663e"]]},{"id":"7f91d364.0070ec","type":"change","z":"52712e56b519916c","name":"add DL2 and timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload.DL2","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":460,"wires":[["32926c1b.8b6284","377ce918.24c936"]]},{"id":"7da5f131.8663e","type":"function","z":"52712e56b519916c","name":"CPU_temp","func":"msg.topic = flow.get('cpu_temp')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["7f91d364.0070ec"]]},{"id":"32926c1b.8b6284","type":"debug","z":"52712e56b519916c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":460,"wires":[]},{"id":"b7540b82.190158","type":"change","z":"52712e56b519916c","name":"station 3 is alive","rules":[{"t":"set","p":"station_3_is_shut_down","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[[]]},{"id":"4eaa5aaa.6f9cb4","type":"inject","z":"52712e56b519916c","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":220,"wires":[["b7540b82.190158"]]},{"id":"26b95cc.e4cfda4","type":"function","z":"52712e56b519916c","name":"show station 3 status","func":"msg.payload=flow.get('station_3_is_shut_down')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":740,"wires":[["fe81b688.004628"]]},{"id":"fe81b688.004628","type":"debug","z":"52712e56b519916c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":740,"wires":[]},{"id":"344dad5ecff86a77","type":"mytimeout","z":"52712e56b519916c","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"0","timer":"40","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":570,"y":280,"wires":[["dba6dea8700cfe6f"],[]]},{"id":"dba6dea8700cfe6f","type":"change","z":"52712e56b519916c","name":"station 3 is dead","rules":[{"t":"set","p":"station_3_is_shut_down","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[[]]},{"id":"39ad5c7979a5e813","type":"pimax31865","z":"52712e56b519916c","name":"","bus":"0","dev":"1","rtd":"100","ref":"4300","wir":"3","x":360,"y":940,"wires":[["e15de755ea1644ba"]]},{"id":"e15de755ea1644ba","type":"debug","z":"52712e56b519916c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":920,"wires":[]},{"id":"dbfc7ae44774c28d","type":"inject","z":"52712e56b519916c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":940,"wires":[["39ad5c7979a5e813"]]},{"id":"48093d14.5ff7e4","type":"mqtt-broker","z":"52712e56b519916c","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eaf522c.663d3e","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]